

@font-face {
    font-family:'Titillium-Light';
    src: url(../fonts/Titillium-Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Decker';
    src: url(../fonts/Decker.ttf);

}


ul{
    font-size:20px;

}
p, div {
    font-family: 'Titillium-Light';
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #0b436d;
}

.myPic{

    width: 70%;
    height: 70%;
}

.indent {

    .make-xs-column(2);
    .make-sm-column(2);
    .make-md-column(2);
  }