

@font-face {
    font-family:'Titillium-Light';
    src: url(../fonts/Titillium-Light.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Decker';
    src: url(../fonts/Decker.ttf);

}

@media (max-width: @screen-xs) {
    #headerTop{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    #headerTop{font-size: 14px;}
}


p, div {
    font-family: 'Titillium-Light';
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: #0b436d;
}

.indent {

    .make-xs-column(2);
    .make-sm-column(2);
    .make-md-column(2);
  }