

#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: auto;
	background-color: #0b436d;
	/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
	/* Adds the transparent background */
	z-index: 1000;

}

#navigation p#name{
	vertical-align: center;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 1.5em;
	color: white;
	float: left;
}

#navigation p#linkedIn{
	vertical-align: center;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 1.5em;
	color: white;
	float: left;
}
#navigation p#gitHub{
	vertical-align: center;
	padding-left: 15px;
	padding-top: 10px;
	font-size: 1.5em;
	color: white;
	float: left;
}

.blueTop{
	border-top-color: #0b436d;
	border-top-style: solid;
	border-top-width: 2px;

}

div#navigation{ display: none; }

div#about{ display: none; }
p#name{ display: none; }

img#me{ 
	display: none; 
	
}

#pictureSec{
	margin-top: 100px;
	text-align: center;
}


.project{
	font-size: 200%;
}

a{
		color:#0b436d;
}
.des{
		font-size: 100%;
		padding-left: 2%;
		padding-bottom: 5%;
}

.top-space {
 margin-top:20px;
}

.default-top-space{
	margin-top:80px;
}

.header{
	font-size: 40px;
}

.info{
	font-size:20px;
}


#headerTop{
	font-family:'Titillium-Light';
	text-align: center;
	font-size: 50px;

}

.headline{

	font-size: 300%;
	padding-bottom:2%;
}

.skills{
	 margin-top:80px;
	 text-align: center;
}
.skills u{
	font-size: 200%;
}

#aboutMe{
	margin-top: 70px;
}
