body{
	overflow-x: hidden;
}

#header{
	height: 100vh;
	width: 100vw;
	background-size:cover;
	background-image: url('../images/portland.jpg');
}

#mainHeader{
	padding-top: 10%;
	padding-left: 10%;
}

#mainHeader > div.header{
	font-size: 600%;
}


div.menu > button.btn{
	text-align: left;
	padding-left: 3%;
	margin-top: 1%;
	width: 25%;
	background-color: black;
	color:white;
	opacity: .6;
	font-size: 200%;
	border-radius: 0px;
	border-color: 
}

div.menu > button.btn:hover {
	opacity: 1;
}






.headerImage{
	text-align: center;
}

#headShot{
	width: 50%;
	height: 50%;
}

.container.sectionBody{
	margin-top: 6%;
	margin-bottom: 6%;
}


.sectionHeader{

	width: 100%;
	background-color: black;
	color: white;
	padding-left: 4%;
	font-size: 400%;
}

.aboutMeText p{
	margin-top: 4%;
	font-size: 120%;
}

.project{
	margin-bottom: 5%;
}

.projectHeader{
	margin-top: 1%;
	font-size: 300%;
}

.projectSubHeader{
	font-size: 130%;

}

ul {
	font-size: 120%;
}

div.container.sectionTitle{
	width: 100vw;
	padding-left: 0;
	padding-right: 0;
	margin-left: 0;
	margin-right: 0;
}
div.container.sectionTitle > div{
	padding-left: 0;
	padding-right:0;
}

.socialButtons{
	margin-top: 5%;
	text-align: center;
	width: 100%;
}

.socialButtons > a{
	padding-left: 5%;
	border-style: none;
	border-width: 0;
	background-color: white;
}

.socialButtons > a > img{
	width: 100px;
	height: 100px;
}

.socialButtons > a :hover{
	opacity: .5;